body {
  margin: 0;
  padding: 0;
  background-color: rgb(224,85,0); /* orange goku*/
  display: grid;
  grid-template-rows: auto auto auto;
}

header {
  grid-row-start: 1;
  display: grid;
  grid-template-columns:6fr 1fr;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: solid 1px black;
}

menu{
  grid-column-start: 1;
}

menu > a {
  display: inline-block;
  margin: 10px;
  padding : 5px 15px;
  background-color: rgb(222,34,28); /* rouge baton goku*/
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px 5px Black;
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px 1px black, 2px 0 4px black,2px 0 4px black;
  color: rgb(224,85,0); /* orange goku*/
  text-align: center;
  vertical-align: middle;
  text-decoration-line: none;
}

header > img {
  grid-column-start: 2;
  max-width: 15em;
  min-height: auto;
  padding-left: 25px;
  text-align: center;
  vertical-align: middle;
}

main{
  grid-row-start: 2;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr auto;
  grid-gap : 5px;
}

main > img{
  grid-row-start :1;
  width: 100%;
  height: 100%;
  display: block;
  border-top:3px solid black;
  border-bottom:3px solid black;
}

main > .centre{
  display: grid;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}
.centre > img {

  max-width: 750px;
  max-height: 375px;
  margin: auto;

}

h1{
  font-size: 75px;
  text-align: center;
}
h2{
  font-size: 50px;
  text-align: center;
}

p{
  font-size: 24px;
  text-align: justify;
}

footer {
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 30px;
}

footer > img {
  grid-column-start: 2;
  display: flex;
  text-align: center;
  vertical-align: middle;
  margin :auto;
}

footer > p {
  grid-column-start: 2;
  display: inline-block;
  background-color: rgb(222,34,28); /* rouge baton goku*/
  border-radius: 30px;
  padding: 15px;
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(224,125,0);
  border-radius: 50px;
}

rgb(0,66,255); /* bleu goku*/
